<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exploradorvialactea">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:label="Explorador Via Lactea">

        <activity android:name=".LunasActivity" />
        <activity android:name=".PlanetasActivity" />
        <activity android:name=".SistemaSolarActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>